[submodule "Packages/com.gamelovers.services"]
	path = Packages/com.gamelovers.services
	url = https://CoderGamester@github.com/CoderGamester/Unity-Services.git
[submodule "Packages/com.gamelovers.statechart"]
	path = Packages/com.gamelovers.statechart
	url = https://CoderGamester@github.com/CoderGamester/Statechart-HFSM.git
[submodule "Packages/com.gamelovers.uiservice"]
	path = Packages/com.gamelovers.uiservice
	url = https://CoderGamester@github.com/CoderGamester/Unity-UiService.git
[submodule "Packages/com.gamelovers.googlesheetimporter"]
	path = Packages/com.gamelovers.googlesheetimporter
	url = https://CoderGamester@github.com/CoderGamester/Unity-GoogleSheet-Importer.git
[submodule "Packages/com.gamelovers.mobileservices"]
	path = Packages/com.gamelovers.mobileservices
	url = https://CoderGamester@github.com/CoderGamester/Unity-MobileServices.git
[submodule "Packages/com.gamelovers.gamedata"]
	path = Packages/com.gamelovers.gamedata
	url = https://CoderGamester@github.com/CoderGamester/Unity-GameData.git
