[submodule "Packages/com.gamelovers.nsubstitute"]
	path = Packages/com.gamelovers.nsubstitute
	url = https://CoderGamester@github.com/CoderGamester/com.gamelovers.nsubstitute.git
[submodule "Packages/com.gamelovers.inputextensions"]
	path = Packages/com.gamelovers.inputextensions
	url = https://CoderGamester@github.com/CoderGamester/com.gamelovers.inputextensions.git
[submodule "Packages/com.gamelovers.removeemptyfolders"]
	path = Packages/com.gamelovers.removeemptyfolders
	url = https://CoderGamester@github.com/CoderGamester/com.gamelovers.removeemptyfolders.git
[submodule "Packages/com.gamelovers.services"]
	path = Packages/com.gamelovers.services
	url = https://CoderGamester@github.com/CoderGamester/com.gamelovers.services.git
[submodule "Packages/com.gamelovers.statechart"]
	path = Packages/com.gamelovers.statechart
	url = https://CoderGamester@github.com/CoderGamester/com.gamelovers.statechart.git
[submodule "Packages/com.gamelovers.uiservice"]
	path = Packages/com.gamelovers.uiservice
	url = https://CoderGamester@github.com/CoderGamester/com.gamelovers.uiservice.git
[submodule "Packages/com.gamelovers.asyncawait"]
	path = Packages/com.gamelovers.asyncawait
	url = https://CoderGamester@github.com/CoderGamester/com.gamelovers.asyncawait.git
[submodule "Packages/com.gamelovers.configscontainer"]
	path = Packages/com.gamelovers.configscontainer
	url = https://CoderGamester@github.com/CoderGamester/com.gamelovers.configscontainer.git
[submodule "Packages/com.gamelovers.googlesheetimporter"]
	path = Packages/com.gamelovers.googlesheetimporter
	url = https://CoderGamester@github.com/CoderGamester/com.gamelovers.googlesheetimporter.git
[submodule "Packages/com.gamelovers.assetloader"]
	path = Packages/com.gamelovers.assetloader
	url = https://github.com/CoderGamester/com.gamelovers.assetloader.git
[submodule "Packages/com.gamelovers.tiledgrid"]
	path = Packages/com.gamelovers.tiledgrid
	url = https://github.com/CoderGamester/com.gamelovers.tiledgrid.git
[submodule "com.gamelovers.tiledgrid"]
	path = com.gamelovers.tiledgrid
	url = C:\\Users\\Diana\\Desktop\\Frameworks\\Packages\\com.gamelovers.tiledgrid
